<% include ../partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit Comment</div>
    <form class="ui form" action="/blogs/<%=blog_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
        <div class="field">  
        <label>Text</label>
        <input type="text" name="comment[text]" value="<%= comment.text %>" >
        </div>
        <input class="ui teal basic button" type="submit">
    </form>
    <a href="/blogs/<%=blog_id%>">Go back</a>
</div>

<% include ../partials/footer %>