i.icon{
    font-size: 2em;
}
.container.main{
    margin-top: 7.0em;
}
h1{
    margin-top: 2.0em
}
#delete {
    display: inline;
}
#trashicon{
    font-size: 1.5em;
}
#editicon{
    font-size:1.5em;
}
#body-text{
    font-size: 20px;
}